.mobile-animation {
    animation: mobile-animate 4s linear infinite;
}
@keyframes mobile-animate {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translateY(1.2rem);;
    }
    0% {
        transform: translatey(0);
    }
}

.rotate-animation {
    animation: rotate 100s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
  