@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --letter-principal-color: rgb(255, 255, 255);
  --letter-sub-color: rgb(155, 155, 155);
  --background-principal-rgb: rgb(0, 0, 0);
  --background-secundary-rgb: rgb(20, 20, 20);
}

body {
  color: var(--letter-principal-color);
  margin: 0;
  padding: 0;
  background-color: var(--background-principal-rgb);
  padding: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
